@value --font-primary from 'app/local_modules/styleguide/typography.css';
@value --silver from 'app/local_modules/styleguide/colors.css';

.container {
  color: --silver;
  width: 100%;
  overflow: hidden;
  font-family: --font-primary;
}

.container img {
  width: 140%;
}

.date {
  text-align: center;
}

.description {
  text-align: center;
  padding: 0 1em;
  font-size: 1rem;
}
