@value --font-secondary from 'app/local_modules/styleguide/typography.css';
@value --sun from 'app/local_modules/styleguide/colors.css';

.container {
  text-align: center;
}

.btn {
  font-family: --font-secondary;
  font-weight: 600;
  background-color: --sun;
  border-width: 0;
  color: white;
  font-size: 1rem;
  padding: 0.8125rem 3rem;
}
