@value --font-secondary from 'app/local_modules/styleguide/typography.css';
@value --gray, --mercury from 'app/local_modules/styleguide/colors.css';

.subtitle {
  color: --gray;
  font-size: 1.1875rem;
  font-style: italic;
  font-family: --font-secondary;
  font-weight: 300;
  text-align: center;
  align-content: center;
  padding: 0 1rem 1.5rem 1rem;
}

.invert {
  color: --mercury;
}
