/*@value --large from "src/local_modules/es-styleguide/breakpoints.css";*/


.container {
  display: flex;
  flex-basis: 50%;
  flex-wrap: wrap;
  text-align: center;
  padding: 1rem 2rem 0 2rem;
}

/*@media only screen and --large {
  .container {
    display: flex;
    justify-content: center;
  }
}*/
